.flex{
    display: flex;
}
.first, .second, .third{
    width: 33%;
}
.finalResults{
    margin: 25px 0;
}
.finalResults input{
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 1px solid #d6b981;
}
.finalResults input:focus{
    outline: none;
}
.finalResults div{
    font-size: 23px;
}
.final-row:not(:first-child){
    border-left: 1px solid #c0c0c0;
    border-right: 1px solid #c0c0c0;
    border-top: 1px solid #c0c0c0;
}
.final-row-last{
    border-bottom: 1px solid #c0c0c0;
}
.final-row div{
    padding: 10px;
}
.final-row div:not(:last-child){
    border-right: 1px solid #c0c0c0;
}
.fRow{
    background-color: #d6b981;
    color: #fff;
    padding: 10px;
}
.box{
    border: 1px solid #c0c0c0;
}
.box div:not(:first-child){
    border-left: 1px solid #c0c0c0;
}
.box div{
    border-bottom: 1px solid #c0c0c0;
}
.table-title:not(:first-child){
    border-left: 1px solid #fff;
}
.controls,.results{
    width: 45%;
}

select{
    padding: 10px;
}
.prod-size, .price-size{
    width: 33%;
    padding: 10px;
}
.weight-size{
    width: 16.5%;
    padding: 10px;
}
.calc-container{
    /*background-color: #000;*/
}
.table-style{
    /*background-color: #212121;*/
}
.table-title{
    background-color: #d6b981;
}
.table-title p{
    color: #fff;
    font-size: 23px;
    margin: 0;
}
.table-style p{
    margin: 0;
    font-size: 23px;
}
.table-style input[disabled],
.weight-size input[disabled]{
    font-size: 23px;
    background: transparent;
    border: none;
}
.table-style input{
    width: 100px;
    font-size: 23px;
    border-left: none;
    border-right: none;
    border-top: none;
    color: black;
    border-bottom: 1px solid #d6b981;
}
.table-style input:focus,#prod_list:focus,#materials_list{
    outline: none;
}
.table-margin{
    margin: 20px 0;
}
#prod_list,
#materials_list{
    font-size: 23px;
    border-left: none;
    border-right: 0;
    border-top: none;
    width: 300px;
    margin-bottom: 15px;
}
.addLastTable{
    background-color: #d6b981;
    border: none;
    color: #fff;
    font-size: 23px;
    padding: 10px 25px;
}
.totalContainer{
    display: none;
}
.finalResults input[disabled]{
    border: none;
    background-color: transparent;
}
.finalResults input{
    font-size: 23px;
}
.btn-padds{
    margin-right: 30px;
}
.between{
    margin-top: 25px;
}
/*responsive*/
@media screen and (max-width: 991px){
    .table-style input, .finalResults input{
        width: 70px;
    }
}
@media screen and (max-width: 575px){
    .finalResults div,
    .finalResults input,
    .table-style input[disabled], .weight-size input[disabled],
    .table-style input,
    .table-title p,
    .table-style p{
        font-size: 14px;
    }
    .table-style input, .finalResults input {
        width: 34px;
    }
    #prod_list, #materials_list {
        width: 100%;
    }
    .final-row div {
        padding: 10px 7px;
    }
    .between{
        justify-content: space-between;
    }
}